In [34]:
people={
    "first":['nahid','sultan','hamid'],
    "last":['sultan','mahmud','hasan'],
    "email":['nahidsultan@gmail.com','sultanmahmud@gmail.com','hamidhasan@gmail.com']
}

In [35]:
import pandas as pd

In [36]:
df =pd.DataFrame(people)

In [37]:
df

    first    last                   email
0   nahid  sultan   nahidsultan@gmail.com
1  sultan  mahmud  sultanmahmud@gmail.com
2   hamid   hasan    hamidhasan@gmail.com

In [38]:
df.loc[2, 'last']= 'babu'

In [39]:
df

    first    last                   email
0   nahid  sultan   nahidsultan@gmail.com
1  sultan  mahmud  sultanmahmud@gmail.com
2   hamid    babu    hamidhasan@gmail.com

In [40]:
df.at[2, 'last']= 'hasan'

In [41]:
df

    first    last                   email
0   nahid  sultan   nahidsultan@gmail.com
1  sultan  mahmud  sultanmahmud@gmail.com
2   hamid   hasan    hamidhasan@gmail.com

In [42]:
filt =(df['email']=='hamidhasan@gmail.com')

In [43]:
df[filt]['last']

2    hasan
Name: last, dtype: object

In [44]:
df.loc[filt,'last']='khan'

In [45]:
df['email'=df['email'].str.lower()

SyntaxError: invalid syntax (Temp/ipykernel_9120/4103945125.py, line 1)

In [ ]:
df

In [ ]:
df['email'].apply(len)

In [ ]:
def update_email(email):
    return email.upper()

In [ ]:
df['email'].apply(update_email)

In [ ]:
df['email']=df['email'].apply(update_email)

In [ ]:
df

In [ ]:
df['email']=df['email'].apply(lambda x: x.lower())

In [ ]:
df

In [ ]:
df['email'].apply(len)

In [ ]:
df.apply(len)

In [ ]:
df.apply(pd.Series.min)

In [ ]:
df.apply(lambda x: x.min())

In [ ]:
df.applymap(len)

In [ ]:
df['first'].map({'nahid':'ifty','sultan':'nafsia'})

In [ ]:
df['first']=df['first'].replace({'nahid':'ifty','nafsia':'sultan'})

In [ ]:
df

In [ ]:
df['first']+ ' ' + df['last']

In [ ]:
df['full_name']= df['first']+ ' ' + df['last']

In [ ]:
df

In [ ]:
df.drop(columns=['first', 'last'], inplace=True)

In [ ]:
df

In [ ]:
df['full_name'].str.split(' ', expand=True)

In [ ]:
df[['first','last']] = df['full_name'].str.split(' ', expand=True)

In [ ]:
df

In [ ]:
df.append({'fisrt':'Tommy'}, ignore_index=True)

In [ ]:
people={
    "first":['Tommy','selby',],
    "last":['Stark','Roger',],
    "email":['tommyselbygmail.com','starkroger@gmail.com',]
}
df2 = pd.DataFrame(people)

In [ ]:
df2

In [ ]:
df.append(df2, ignore_index=True)

In [ ]:
df.drop(columns=['fisrt'], inplace=True)

In [ ]:
df

In [ ]:
df = df.append(df2, ignore_index=True, sort=False)

In [ ]:
df

In [ ]:
df.drop(index=6)

In [ ]:
filt= df['last']=='Roger'
df.drop(index=df[filt].index)

In [ ]:
df.sort_values(by='last', ascending=False)

In [ ]:
df.sort_values(by=['last','first'], ascending=False, inplace=True)

In [ ]:
df

In [ ]:
df['last'].sort_values()

In [ ]:
import pandas as pd
import numpy as np

people2={
    "first":['nahid','sultan','hamid','Chris',np.nan,None,'NA'],
    "last":['sultan','mahmud','hasan','Schefer',np.nan,np.nan,'Missing'],
    "email":['nahidsultan@gmail.com','sultanmahmud@gmail.com','hamidhasan@gmail.com',None,np.nan,np.nan,'Missing'],
    "age":['33','25','44','65',None,None,'Missing']
}

In [ ]:
df3= pd.DataFrame(people2)
df3.replace('NA',np.nan, inplace=True)
df3.replace('Missing',np.nan, inplace=True)
df3

In [ ]:
df3.dropna()

In [ ]:
df3.dropna(axis='index', how='all', subset=['last','email'])

In [ ]:
df3.isna()

In [ ]:
df3.fillna(0)

In [ ]:
df3.dtypes

In [ ]:
df3['age'].mean()

In [ ]:
df3['age']=df3['age'].astype(float)

In [ ]:
df3.dtypes

In [ ]:
df3['age'].mean()